/*****************  erpnext page style  **************************/

/*make the body width biger*/
.container.page-body{
	width : 95%  ; 
	max-width : 95%  ; 
}

/*hide the top bar of the page*/
.sticky-top{
	display : none ;
}

/*hide the top bar of the page*/
.page-head{
	display : none;
}

.content{
	background : #fff6d2 ;
}



/****************       generals       *****************/

.rowBox {
	display        : flex   ;
	flex-direction : row    ;
}

.align_center{
	align-items : center ;
}

.row_wrap{
	flex-wrap      : wrap   ;
}

.row_sbtw{
	justify-content: space-between;
}

.row_sa{
	justify-content: space-around;
}

.columnBox {
	display        : flex   ; 
	flex-direction : column ;
}

.C_A_Center{
	align-items    : center ; 
}



.centerItem{
	align-items    : center ; 
	justify-content: center ;
}


input{
	height        : 25px     ;
	padding       : 0px 8px  ;

	font-size     : small  ;

	background    : #f5f5f5  ;
	border        : 2px solid #cccccc !important;
	border-radius : 10px     ;

}
input:focus{
	outline : none !important;
	background : #fcfcfc !important;
}

#MainContainer input:disabled{
	border : none !important;
	background : #fafafa !important;
}

.CartTitle{
	padding : 8px 0px 8px;
	color   : #404040 ;


	display: flex;
	align-items: center;  /* Vertically centers the h3 */
	justify-content: center;  /* Horizontally centers the h3 */
	margin: 0; /* Reset any default margin from h3 */

}

#itemDetailsCartXBtn{
	width  : 26px ;
	height : 26px ;

	cursor : pointer ;
}


.pointerCursor{
	cursor : pointer ;
}

/***********************************************************/


#MainContainer{
	height : 100vh ;
	width  : 100% ;
	padding : 26px 0px ;
}


#LeftSection{

	height        : 100%  ;
	width         : 65%   ;
	padding       : 10px  ;


	order         : 1 ;


}


#RightSection{
	height      : 100% ;
	width       : 35%  ;
	padding     : 10px;


	order      : 2 ;
}


/******************************************************************/
/*********************left********************/


@keyframes mymove {
  0% {  opacity : 0 ;  }
  100%   {  opacity : 1; }
}

#LeftSection #SelectorBox{
	width       : 100%    ;
	height      : 100%    ;
	background  : #FFFFFF ;

	animation   : mymove 1s  ;
	display     : flex ;
	overflow-y  : scroll ; 
	background    : #FFFFFF ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
}




/*header*/
#LeftSection #SelectorBox .header{
	height         : 45px          ;
	padding        : 0px 16px      ;
	justify-content: space-between ;
}

#LeftSection #SelectorBox .header #ItemInput{
	margin : 0px 16px 0px 0px;
	width  : 350px;
}

#LeftSection #SelectorBox .header #ItemGroupInput{
	width  : 150px;
}

/*item container*/
#LeftSection #SelectorBox #itemsContainer {
	padding    : 16px ;
	border-radius : 0px 0px 16px 16px ; 

	flex          : 1      ; 
}


#LeftSection #SelectorBox #itemsContainer .itemBox {
	height     : 150px ;
	width      : 120px ;
	margin     : 3px ;
	position   : relative ; 

	cursor: pointer;
	background : #FFFFFF ;
	border     : 1px solid #e0e0e0;
	border-radius : 6px;
	overflow : hidden ;
}

#LeftSection #SelectorBox #itemsContainer .itemBox:hover {
	border     : 3px solid #ac6500 ;
}

#LeftSection #SelectorBox #itemsContainer .itemBox .itemImage{
	width  : 100%;
	height : 120px  ;
	margin : 0px 0px 5px 0px ;

	object-fit : cover ;

	background : #f0f0f0 ;
	border        : none ;
	outline       : none ; 
}
#LeftSection #SelectorBox #itemsContainer .itemBox .itemTitle{
	padding : 0px 0px 0px 5px ;
	text-overflow: ellipsis;	
	white-space  : nowrap  ;
	overflow     : hidden  ;
	
}

#LeftSection #SelectorBox #itemsContainer .itemBox .itemPrice{
	padding : 0px 4px ;
	background : #ac6500 ;
	color      : white    ;

	font-size  : smaller  ;

	position   : absolute ; 
	top        : 0px      ;
	right      : 0px      ;

	border-radius : 0px 0px 0px 6px ;
}

/* item details cart */
#LeftSection #itemDetailsCart{
	width     : 100% ;
	height    : 100% ;
	animation : mymove 1s ;
	display   : none ;
	background    : #FFFFFF ;

	overflow-y    : scroll ; 
	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
}

#LeftSection #itemDetailsCart #itemDetailsCartHeader{
	padding : 4px 16px 4px 16px ;
}

#LeftSection #itemDetailsCart #itemDetailsHeader #detailsItemImage{
	max-width  : 150px ;
	min-width  : 150px ;
	max-height : 150px ;
	min-height : 150px ;
	margin : 16px 30px ;
	background : #f0f0f0;
	border-radius : 12px ;
	border : 1.5px solid #e0e0e0;

	overflow : hidden ;
}

#LeftSection #itemDetailsCart #itemDetailsHeader #detailsItemImage img{
	width : 100%;
	height : 100% ;
	object-fit : cover ;
}
#LeftSection #itemDetailsCart #itemDetailsHeader #price_and_name{
	width : 65%;
	padding-top : 30px ;
}

#LeftSection #itemDetailsCart #itemDetailsHeader #price_and_name #detailsItemName{
	font-size : 45px ;
	font-weight : 700 ;
}
#LeftSection #itemDetailsCart #itemDetailsHeader #price_and_name #detailsItemGroupWarhouseContainer{
	font-size : 15px ;
	font-weight : 500 ;
}
#LeftSection #itemDetailsCart #itemDetailsHeader #price_and_name #detailsItemGroupWarhouseContainer div{
	flex-grow : 1 ;
}


#LeftSection #itemDetailsCart #itemDetailsHeader #detailsItemPriceListContainer label{
	flex-grow : 1 ;
}

#LeftSection #itemDetailsCart #itemDetailsHeader #detailsItemPriceListContainer input{
	flex-grow : 2 ;
}

#LeftSection #itemDetailsCart #itemDetailsAll{
	grow       : 1       ;

	justify-content : center ;
}

#LeftSection #itemDetailsCart #itemDetailsAll #itemDetails_C1{
	width  : 40% ;
	height : 100% ;

	margin-right : 8px ;

}
#LeftSection #itemDetailsCart #itemDetailsAll #itemDetails_C2{
	width  : 40% ;
	height : 100% ;

	margin-left : 8px ;
}


#LeftSection #itemDetailsCart #itemDetailsAll input{
        
	height : 35px ;
	margin-bottom : 16px ;

        justify-content : center ;
}

/** paymentMethodCart **/
#LeftSection #paymentMethodCart{
	width     : 100% ;
	height    : 100% ;
	animation : mymove 1s ;
	display   : none ;
	background    : #FFFFFF ;

	overflow-y    : scroll ; 
	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;	
}

/************* right *****************/
#RightSection #CustomerBox{
	height : 55px  ;
	width  : 100%  ; 
	margin-bottom   : 5px    ;
	background    : #FFFFFF ;


	animation : mymove 1.5s  ;

	border          : 2px solid #c0c0c0 ;
	border-radius   : 16px   ;

	
}

#RightSection #CustomerBox #CustomerInput{
	width   : 100% ;
	margin  : 0px 16px;
}


#RightSection #CustomerBox input:focus{
	border  : none ;
	outline : none ;
}

#RightSection #CartBox{
	width  : 100% ; 
	height : calc(100% - 55px) ;
	margin-top : 5px    ;
	padding    : 0px 0px 16px 0px ;
	background    : #FFFFFF ;

	animation : mymove 2s  ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
	overFlow-y    : scroll; 	

	flex-grow     : 1;	
}

#RightSection #CartBox #CartBoxTopBar{
	width   : 100%;
	padding : 0px 16px ;
}


/*** items container***/


#RightSection #CartBox #cartHeader{
	width   : calc(100% - 32px)  ;
	height  : 40px     ;
	margin  : 0px 16px ;
	padding : 6px 0px 0px 0px ;
}

#RightSection #CartBox #cartHeader #quantityTitle{
	margin : 0px 16px 0px 0px ;
}

#RightSection #CartBox #selectedItemsContainer{	
	min-height : 70px ;
	flex-grow  : 1     ;
	overflow-y : scroll;
}

/* element  */
#RightSection #CartBox .ItemElement{
	width   : calc(100% - 32px)  ;
	height  : 60px     ;
	min-height : 60px  ;
	margin  : 0px 16px ;
	padding : 4px      ;

	/*animation : mymove 1s */

}


#RightSection #CartBox .ItemElement:hover{
	background : #F0F0F0 ;

	border     : 3px solid #e0e0e0 ;
	border-radius : 12px  ; 

}

#RightSection #CartBox .ItemElement .selectedItemImage{
	width      : 45px ;
	height     : 45px ;
	margin     : 0px 16px 0px 5px  ;
	background : #e0e0e0 ;	
	border-radius : 12px ;

	object-fit : cover ;
}


#RightSection #CartBox .ItemElement .selectedItemName{
	padding : 6px 0px 0px 0px  ; 
}

#RightSection #CartBox .ItemElement .itemQuantity{
	margin : 0px 16px 0px 0px ;
}

/*** footer ***/
#RightSection #CartBox #cartFooter{
	width  : 100%  ;
}



#RightSection #CartBox #cartDetails{
	width  : calc(100% - 32px) ;
	margin : 2px 16px ;
}

#RightSection #CartBox #cartDetails>div{
	width : 100% ;
}

#RightSection #CartBox #cartDetails #discount{
	height : 25px  ;
	border : 1px dashed #c0c0c0 ;
	border-radius : 12px  ;
	padding : 0px 16px ;
}
#RightSection #CartBox #cartDetails #discount:hover{
	background : #F0F0F0 ; 
}
#RightSection #CartBox #cartDetails #totalQuantity{
	height : 25px  ;
	padding : 0px 16px ;
}
#RightSection #CartBox #cartDetails #netTotal{
	height : 24px  ;
	padding : 0px 16px ;
}
#RightSection #CartBox #cartDetails #grandTotal{
	height : 30px  ;
	margin : 4px 0px ;
	padding : 0px 16px ;

	font-weight : 700 ;
	font-size : larger ;
}

#RightSection #CartBox #checkoutBtn{
	width   : calc(100% - 32px)  ;
	margin  : 0px 16px 0px 16px  ;
	padding : 8px 0px ;
	
	color   : #FFFFFF  ;
	font-size: larger;
	font-weight: 600;
	
	background : #ac6500 ;
	border  : 3px solid #6a3e00;
	border-radius : 8px  ;
	outline : none ;
}
#RightSection #CartBox #checkoutBtn:hover{
	border  : 4px solid #6a3e00;
	font-weight: 700;
}




#RightSection #editSelectedItemCart{
	width  : cla(100%-32px) ; 
	margin : 0px 16px    ;
	padding    : 0px 0px 16px 0px ;

	animation : mymove 2s  ;

	overFlow-y    : hidden; 	

	display       : none ;

}



/*grid*/
.grid-container {

	display: grid;
	grid-template-columns : auto auto auto auto ;

}
.grid-item {
	height          : 45px ;
	padding         : 4px  ;
	margin          : 6px  ;

	background      : #f5f5f5;
	border          : 2px solid #e0e0e0;
	border-radius   : 12px  ;
	font-size       : small ;
	text-align      : center;

	display         : flex  ;
	justify-content : center;
	align-items     : center;
} 

.grid-item:hover {
	background      : #e0e0e0;
}

.grid-item.selected {
	border       : 2px solid #c0c0c0 ;
	background   : #e0e0e0 ;
	
}
