/*****************  erpnext page style  **************************/

/*make the body width biger*/
[data-route = "pos"] .container.page-body{
	width : 100vw  ; 
	max-width : 100vw  ; 
}

[data-route = "pos"] .container.page-body .page-content .layout-main-section{
		background: #B5DAD4;
}

/*hide the top bar of the page*/
[data-route = "pos"] .sticky-top{
	display : none ;
}

/*hide the top bar of the page*/
[data-route = "pos"] .page-head{
	display : none;
}

[data-route = "pos"] .content{
	background : #44A29265 ;
}


/****************       generals       *****************/

.rowBox {
	display        : flex   ;
	flex-direction : row    ;
}
.rowBoxReverse{
	display        : flex   ;
	flex-direction: row-reverse;
}

.align_center{
	align-items : center ;
}

.row_wrap{
	flex-wrap      : wrap   ;
}

.row_sbtw{
	justify-content: space-between;
}

.row_sa{
	justify-content: space-around;
}

.columnBox {
	display        : flex   ; 
	flex-direction : column ;
}
.columnBoxReverse {
	display        : flex   ; 
	flex-direction : column-reverse ;
}

.C_A_Center{
	align-items    : center ; 
}



.centerItem{
	align-items    : center ; 
	justify-content: center ;
}

.hideMe{
	display : none ;
}

#MainContainer input:not([type="checkbox"])
{
	height        : 35px     ;
	padding       : 0px 8px  ;

	font-size     : small  ;

	background    : #f5f5f5  ;
	border        : 2px solid #cccccc !important;
	border-radius : 10px     ;

}
#MainContainer input:focus:not([type="checkbox"]),
#MainContainer select:focus{
	outline : none !important;
	background : #fcfcfc !important;
	/*border        : 2px solid #ac6500 !important;*/
	border        : 2px solid #9B5788 !important;
}

#MainContainer select{
	height        : 35px     ;
	padding       : 0px 8px  ;

	font-size     : small  ;

	background    : #f5f5f5  ;
	border        : 2px solid #cccccc !important;
	border-radius : 10px     ;


}

#MainContainer input:disabled:not([type="checkbox"]){
	border : none !important;
	background : #fafafa !important;
}


.posBtn1{
	border        : 3px solid #2D6B61 ;
	background    : #44A292           ;
	border-radius : 8px               ;	

	color         : white             ;
}

.posBtn1:hover{
	border        : 4px solid #2D6B61 ;	
}


.CartTitle{
	padding : 8px 0px 8px;
	color   : #404040 ;


	display: flex;
	align-items: center;  /* Vertically centers the h3 */
	justify-content: center;  /* Horizontally centers the h3 */
	margin: 0; /* Reset any default margin from h3 */

}

#itemDetailsCartXBtn{
	width  : 26px ;
	height : 26px ;

	cursor : pointer ;
}


.pointerCursor{
	cursor : pointer ;
}

/***********************************************************/


#MainContainer{
	height     : 100vh ;
	width      : 100% ;

}


#LeftSection{

	height        : 100%  ;
	width         : 70%   ;
	padding       : 10px  ;


	order         : 1 ;


}


#RightSection{
	height      : 100% ;
	width       : 30%  ;
	padding     : 10px;

	overflow : hidden ;

	order      : 2 ;
}


/******************************************************************/
/*********************left********************/


@keyframes mymove {
  0% {  opacity : 0 ;  }
  100%   {  opacity : 1; }
}

