/*****************  erpnext page style  **************************/

/*make the body width biger*/
.container.page-body{
	width : 95%  ; 
	max-width : 95%  ; 
}

/*hide the top bar of the page*/
.sticky-top{
	display : none ;
}

/*hide the top bar of the page*/
.page-head{
	display : none;
}

.content{
	background : #fff6d2 ;
}

/*set up the scroll bar */
::-webkit-scrollbar{
	width : 2em ;
}
::-webkit-scrollbar-track{
	background : hsl(120 75% 50% / 1);
}
::-webkit-scrollbar-thumb{
	background : #6a3e00;
	border-radius : 100vw ; 
}
::-webkit-scrollbar-thumb:hover{
	background : hsl(120 100% 10% / 1);
}

/****************       generals       *****************/

.rowBox {
	display        : flex   ;
	flex-direction : row    ;
}

.align_center{
	align-items : center ;
}

.row_wrap{
	flex-wrap      : wrap   ;
}

.row_sbtw{
	justify-content: space-between;
}

.row_sa{
	justify-content: space-around;
}

.columnBox {
	display        : flex   ; 
	flex-direction : column ;
}

.C_A_Center{
	align-items    : center ; 
}



.centerItem{
	align-items    : center ; 
	justify-content: center ;
}


input{
	height        : 25px     ;
	padding       : 0px 8px  ;

	font-size     : small  ;

	background    : #f5f5f5  ;
	border        : 2px solid #cccccc !important;
	border-radius : 10px     ;

}
input:focus{
	outline : none !important;
	background : #fcfcfc !important;
	border        : 2px solid #ac6500 !important;
}

#MainContainer input:disabled{
	border : none !important;
	background : #fafafa !important;
}


button{
	border        : 3px solid #6a3e00 ;
	background    : #ac6500           ;
	border-radius : 8px               ;	

	color         : white             ;
}

button:hover{
	border        : 4px solid #6a3e00 ;	
}


.CartTitle{
	padding : 8px 0px 8px;
	color   : #404040 ;


	display: flex;
	align-items: center;  /* Vertically centers the h3 */
	justify-content: center;  /* Horizontally centers the h3 */
	margin: 0; /* Reset any default margin from h3 */

}

#itemDetailsCartXBtn{
	width  : 26px ;
	height : 26px ;

	cursor : pointer ;
}


.pointerCursor{
	cursor : pointer ;
}

/***********************************************************/


#MainContainer{
	height : 100vh ;
	width  : 100% ;
	padding : 26px 0px ;
}


#LeftSection{

	height        : 100%  ;
	width         : 65%   ;
	padding       : 10px  ;


	order         : 1 ;


}


#RightSection{
	height      : 100% ;
	width       : 35%  ;
	padding     : 10px;

	overflow : hidden ;

	order      : 2 ;
}


/******************************************************************/
/*********************left********************/


@keyframes mymove {
  0% {  opacity : 0 ;  }
  100%   {  opacity : 1; }
}

