
/********************** left section ************************/
/************************************************************/

#checkInOutLeftContainer{
	width     : 100% ;
	height    : 100% ;
	padding   : 4px 16px 4px 16px ;
	background    : #FFFFFF ;
	border        : 4px solid #a0a0a0 ;
	border-radius : 16px;

	animation : mymove 1s ;
	display   : none ;
	overflow-y    : auto ;
}

#detailsCheckInOutHeader{
	height : 95px ;
	width  : 100% ;
	padding: 0px 0px 4px 0px ;
	border-bottom : 4px solid #c0c0c0 ;

	font-size : 18px ;
	font-weight : 600 ;
	color       : #2D6B61 ;
}
#detailsCheckInOutHeader>div{
	width   : 33.34% ;
	height  : 100%   ;

	display : flex   ;
	justify-content : center ;
	align-items     : center ;
}
#detailsCheckInOutHeader>div:nth-child(1),
#detailsCheckInOutHeader>div:nth-child(2)
{
	border-right : 1px solid #c0c0c0 ;
}

#TotalCheckInOutValue,#TotalCheckOutValue,#TotalCheckInValue{
	color : #505050;
}

/****  content  ****/

#detailsCheckInOutContent{
	width : 100%;
	flex-grow : 1 ;
}

#detailsCheckInOutContent span.key{
	color       : #2D6B61 ;
	font-size   : 25px    ;
	font-weight : 700     ;
}
#detailsCheckInOutContent span.value{
	color       : #505050 ;
	font-size   : 20px    ;
	font-weight : 600     ;
}


#detailsCheckInOutContent div.l1,
#detailsCheckInOutContent div.l2,
#detailsCheckInOutContent div.l3{
	margin : 16px 0px ;
	justify-content : space-between;
}
#detailsCheckInOutContent div.l3 div.title{
	color       : #2D6B61 ;
	font-size   : 25px    ;
	font-weight : 700     ;
}
#detailsCheckInOutContent div.l3 textarea#selectedCheckInOutReason{
	width  : 100% ;
	padding : 8px 16px;
	height  : 50px ;
	border : 3px solid #c0c0c0;
	border-radius : 16px ;

	font-size   : 18px   ;
	font-weight : 600    ;

	overflow    : hidden ;
}





/******************* right section *************************/
/***********************************************************/

#checkInOutRightContainer{
        width     : 100% ;
        padding   : 4px 16px 4px 16px ;
        background    : #FFFFFF ;
        border        : 4px solid #a0a0a0 ;
        border-radius : 16px;

        flex-grow : 1 ;

        animation : mymove 1s ;
        display   : none ;
        overflow  : hidden ;
}

/** tab container **/
#checkInOutTabContainer{
	width         : 100% ;
	height        : 75px ;
	min-height    : 75px ;
	border-bottom : 1px solid #f0f0f0 ;

}
#checkInOutTabContainer div.tab{
	height    : 100% ;

	font-weight : 500  ;
	font-size   : 14px ;
	color       : #333 ;

	flex-grow : 1    ;
	display   : flex ;
	justify-content : center  ;
	align-items     : center  ;
	cursor          : pointer ;
}
#checkInOutTabContainer div.tab:hover{
	background : #9B578840;
}
#checkInOutTabContainer div.tab.selected{
	border-bottom : 3px solid #2D6B61 ;

	font-weight : 600     ;
	font-size   : 20px    ;
	color       : #2D6B61 ;

}

/** checkInOut List **/
#checkInOutList{
	width  : 100% ;

	flex-grow  : 1    ;
	overflow-y : auto ;
}

#checkInOutList .checkInOutItem{
	width  : 100% ;
	height : 70px ;
	min-height : 70px ;

	border-bottom : 2px solid #c0c0c0 ;
	cursor        : pointer           ;
}
#checkInOutList .checkInOutItem:hover{
	background : #f9f9f9 ;
}
#checkInOutList .checkInOutItem div{
	width : 33.334% ;

	display         : flex   ;
	justify-content : center ;
	align-items     : center ;
}
#checkInOutList .checkInOutItem div.type{
	font-size : 20px ;
	font-weight : 600 ;
}
#checkInOutList .checkInOutItem div.amount{
	font-size : 20px ;
	font-weight : 600 ;
}
