#checkInOutLeftContainer{
	width     : 100% ;
	height    : 100% ;
	padding   : 4px 16px 4px 16px ;
	background    : #FFFFFF ;
	border        : 4px solid #c0c0c0 ;
	border-radius : 16px;

	animation : mymove 1s ;
	display   : none ;
	overflow-y    : auto ;
}
