/************* right *****************/


#RightSection #MenuBox{

        height : 55px  ;
	width  : 55px  ;
        margin-bottom  : 5px    ;
        background     : #FFFFFF ;
        border          : 2px solid #c0c0c0 ;
        border-radius   : 16px   ;

        animation : mymove 1.5s  ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

	position : relative ; 
}

#RightSection #MenuBox:hover{
        background     : #f0f0f0 ;
}


#RightSection #MenuBox img{
	height : 25px ;
	width  : 25px ;
}


#RightSection #MenuBox #menuItemsContainer{

	width      : max-content ;
	background : white    ; 
	border-radius : 12px  ;     

        border          : 2px solid #c0c0c0 ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;


	cursor     : pointer  ;

	overflow   : hidden   ;
	visibility : hidden   ;
	opacity    : 0        ;
	position   : absolute ; 
	bottom     : 0 ;
	right      : 0 ;
	transform  : translateY(110%);
	transition : opacity 0.5s  ease ;

}

#RightSection #MenuBox #menuItemsContainer .menuItem{
	padding : 8px 6px 8px 6px ;
}

#RightSection #MenuBox #menuItemsContainer .menuItem:hover{
	background : #f0f0f0 ;
}


#RightSection #CustomerBox{
        height : 55px  ;
	margin-right   : 16px    ;
        margin-bottom  : 5px     ;
        background     : #FFFFFF ;


        animation : mymove 1.5s  ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

        border          : 2px solid #c0c0c0 ;
        border-radius   : 16px   ;

	flex-grow : 1 ;
}


#RightSection #syncBtn{

	padding : 4px 10px ;
	margin-right : 16px ;  
	border  : 2px solid #ac6500;
	border-radius : 10px ;
	
	cursor : pointer ;	
}

#RightSection #syncBtn:hover{

	border  : 2px solid #6a3e00;
	color   : white ;
	background : #ac6500 ; 
}

#RightSection #CustomerBox #toggleButtonLabel{
	margin-right : 8px ;
}

#RightSection #CustomerBox #toggleButton{
	width  : 40px ;
	height : 25px ;
	margin-right  : 16px    ;
	background    : #f5f5f5 ;
	border        : 2px solid #cccccc ;
	border-radius : 10px    ;

	position   : relative ;
	cursor     : pointer  ;

	transition : border 0.4s ease ;
}

#RightSection #CustomerBox #toggleButton:hover{
	background    : #e5e5e5 ;	
}

#RightSection #CustomerBox #toggleButtonBall{
	width         : 15px     ;
	height        : 15px     ;
	margin        : 0px 3px  ;
	background    : #d0d0d0  ;
	border-radius : 100%     ;

	position      : absolute ;
	left          : 0px      ;

	transition : left 0.4s ease , background 0.4s ease  ;

}

#RightSection #CustomerBox #CustomerInput{
        margin    : 0px 16px ;
	
	flex-grow : 1        ;
}


#RightSection #CustomerBox input:focus{
        border  : none ;
        outline : none ;
}

