#ActionsContainerBox{
	justify-content : end ;
        margin-bottom   : 5px ;
}

#RightSection #MenuBox, 
#RightSection #HomeBox,
#RightSection #exchangeBtn
{
        height : 55px  ;
	width  : 55px  ;
        background     : #FFFFFF ;
        border          : 2px solid #c0c0c0 ;
        border-radius   : 16px   ;

        animation : mymove 1.5s  ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

	position : relative ; 
	cursor   : pointer  ;
}
#RightSection #MenuBox:hover, 
#RightSection #HomeBox:hover,
#RightSection #exchangeBtn:hover
{
	background     : #f0f0f0 ;
}
#SyncBox{
	height        : 55px              ;
	padding       : 0px 16px          ;
	margin-right  : 16px              ;
        background    : #FFFFFF           ;
        border        : 2px solid #c0c0c0 ;
        border-radius : 16px              ;

	font-weight   : 800               ;
	font-size     : 20px              ;
	cursor        : pointer           ;
        animation     : mymove 1.5s       ;
        box-shadow    : rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

}
#SyncBox.NotSynced{
        border        : 2px solid #ac6500 ;
	color         : #ac6500           ;
}
#SyncBox.Synced{
        border        : 2px solid green   ;
	color         : green             ;
}
#exchangeBtn:hover{
	background : #F0F0F0;
}

#exchangeBtn>img{
	width : 35px ;
	height : 35px;
}
#RightSection #HomeBox{
	margin-right : 16px ;
}

#MenuBox:hover,
#HomeBox:hover,
#SyncBox:hover
{
        background     : #f0f0f0 ;
}


#RightSection #MenuBox img,
#RightSection #HomeBox img{
	height : 25px ;
	width  : 25px ;
}


#RightSection #MenuBox #menuItemsContainer{

	width      : max-content ;
	background : white    ; 
	border-radius : 12px  ;     
        border          : 2px solid #c0c0c0 ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;


	z-index    : 20       ;
	cursor     : pointer  ;

	overflow   : hidden   ;
	visibility : hidden   ;
	opacity    : 0        ;
	position   : absolute ; 
	bottom     : 0 ;
	right      : 0 ;
	transform  : translateY(110%);
	transition : opacity 0.5s  ease ;

}

#RightSection #MenuBox #menuItemsContainer .menuItem{
	padding : 8px 6px 8px 6px ;
}

#RightSection #MenuBox #menuItemsContainer .menuItem:hover{
	background : #f0f0f0 ;
}


#RightSection #CustomerBox{
        height : 55px  ;
	margin-right   : 16px    ;
        margin-bottom  : 5px     ;
        background     : #FFFFFF ;


        animation : mymove 1.5s  ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

        border          : 2px solid #c0c0c0 ;
        border-radius   : 16px   ;

	flex-grow : 1 ;
}


#RightSection #syncBtn.NotSynced{

	padding : 4px 10px ;
	margin-right : 16px ;  
	border  : 2px solid #ac6500;
	border-radius : 10px ;
	
	cursor : pointer ;	
}

#RightSection #syncBtn.Synced{

	padding : 4px 10px ;
	margin-right : 16px ;  
	border  : 2px solid green;
	border-radius : 10px ;
	
	cursor : pointer ;	
}

#RightSection #syncBtn.NotSynced:hover{

	border  : 2px solid #6a3e00;
	color   : white ;
	background : #ac6500 ; 
}

#RightSection #syncBtn.Synced:hover{
	border  : 4px solid green;
}





/****************************************** check in out dialog ****************************************/
#checkInOutDialog{
	height     : 300px   ;
	width      : 70%     ;
	padding    : 16px    ;
	background : #ffffff ;
	border     : 3px solid #ac6500 ;	
	border-radius : 16px ;

	display   : none     ;
	position  : absolute ;
	top       : 50%      ;
	left      : 50%      ;
	z-index   : 50       ;
	transform : translate(-50% , -50%);
	animation : mymove 1s ;
}
#darkFloatingBackground{
	height : 100%;
	width  : 100%;
	background : #000000cc;

	display : none     ;
	position: absolute ;
	top     : 0 ;
	left    : 0 ;
	z-index : 10 ;
	animation : mymove 0.2s ;
}

#checkInOutDialog #checkTypeContainer{
	width  : 100% ;

	display:flex;
}


#checkTypeContainer .checkType{
	height : 70px ;
	border : 2px solid #f0f0f0;
	border-radius : 16px ;

	flex-grow : 1 ;
}

#checkTypeContainer .checkType.selected{
	border : 2px solid #ac6500;
}
#checkTypeContainer #checkInType{
	margin-right : 16px ;
}
