#ActionsContainerBox{
	justify-content : end ;
        margin-bottom   : 5px ;
}

#RightSection #MenuBox, 
#RightSection #HomeBox
{

        height : 55px  ;
	width  : 55px  ;
        background     : #FFFFFF ;
        border          : 2px solid #c0c0c0 ;
        border-radius   : 16px   ;

        animation : mymove 1.5s  ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

	position : relative ; 
}
#SyncBox{
	height        : 55px              ;
	padding       : 0px 16px          ;
	margin-right  : 16px              ;
        background    : #FFFFFF           ;
        border        : 2px solid #c0c0c0 ;
        border-radius : 16px              ;

	color         : #ac6500           ;
	font-weight   : 800               ;
	font-size     : 20px              ;

        animation     : mymove 1.5s       ;
        box-shadow    : rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

}
#RightSection #HomeBox{
	margin-right : 16px ;
}

#RightSection #MenuBox:hover,
#RightSection #HomeBox:hover
{
        background     : #f0f0f0 ;
}


#RightSection #MenuBox img,
#RightSection #HomeBox img{
	height : 25px ;
	width  : 25px ;
}


#RightSection #MenuBox #menuItemsContainer{

	width      : max-content ;
	background : white    ; 
	border-radius : 12px  ;     
        border          : 2px solid #c0c0c0 ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;


	z-index    : 20       ;
	cursor     : pointer  ;

	overflow   : hidden   ;
	visibility : hidden   ;
	opacity    : 0        ;
	position   : absolute ; 
	bottom     : 0 ;
	right      : 0 ;
	transform  : translateY(110%);
	transition : opacity 0.5s  ease ;

}

#RightSection #MenuBox #menuItemsContainer .menuItem{
	padding : 8px 6px 8px 6px ;
}

#RightSection #MenuBox #menuItemsContainer .menuItem:hover{
	background : #f0f0f0 ;
}


#RightSection #CustomerBox{
        height : 55px  ;
	margin-right   : 16px    ;
        margin-bottom  : 5px     ;
        background     : #FFFFFF ;


        animation : mymove 1.5s  ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 15px 0px;

        border          : 2px solid #c0c0c0 ;
        border-radius   : 16px   ;

	flex-grow : 1 ;
}


#RightSection #syncBtn.NotSynced{

	padding : 4px 10px ;
	margin-right : 16px ;  
	border  : 2px solid #ac6500;
	border-radius : 10px ;
	
	cursor : pointer ;	
}

#RightSection #syncBtn.Synced{

	padding : 4px 10px ;
	margin-right : 16px ;  
	border  : 2px solid green;
	border-radius : 10px ;
	
	cursor : pointer ;	
}

#RightSection #syncBtn.NotSynced:hover{

	border  : 2px solid #6a3e00;
	color   : white ;
	background : #ac6500 ; 
}

#RightSection #syncBtn.Synced:hover{
	border  : 4px solid green;
}

