/******************* left container   ***********************/

#historyLeftContainer{

	width     : 100% ;
	height    : 100% ;
	padding   : 4px 16px 4px 16px ;
	background    : #FFFFFF ;
	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;

	animation : mymove 1s ;
	display   : none ;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	overflow-y    : auto ;
}

/*********************   left container  *****************************/




/****** pos header  *******/
#PosContentHeader{
	padding : 16px 16px 25px 16px;
}

#PosContentHeader>div{
	flex-grow : 1 ;
}

#PosContentHeader>div.c2{
	align-items : end ;
}

#posCustomer{
	font-size   : 30px ;
	font-weight : 800  ;
}

#posSoldBy{
	font-size   : 16px ;
	font-weight : 500  ;	
}

#posCost{
	width       : max-content ;
	font-size   : 25px ;
	font-weight : 800  ;	
}
#posId {
	width       : max-content ;
}
#posStatus {
	width       : max-content ;
}


/****** pos content  *******/

/* titles */
.posSectionTitle{
	font-size   : 18px ;
	font-weight : 700  ;	
}
/* button action */
.actionBtn{
	margin  : 16px     ;
	padding : 8px 16px ;
	background    : #f0f0f0 ;
	border  : 2px solid #cccccc ;
	border-radius : 16px    ;

	flex-grow     : 1       ;
}
.actionBtn:hover{
	background   : #e0e0e0 ;
	border-color : #c0c0c0 ;
}

/* make the main section take the extra empty space */

#posContent{
	flex-grow : 1 ;
}

#posItemList{

	padding       : 0px  16px    ;
	background    : #e0e0e0 ;
	border-radius : 12px    ;
}

#posItemList>div{
	padding : 16px 0px ;
}

#posItemList>div>div{
	width : 33.3333333334% ;
}

#posItemList>div>div.itemCost{
	justify-content : end  ;
}
#posItemList>div>div.itemQuantity{
	justify-content : end  ;
}

#posItemList>div .itemName{
	font-size   : 16px ;
	font-weight : 600  ;
}

/*********************  right container  *****************************/

#historyRightContainer{

	width     : 100% ;
	padding   : 4px 16px 4px 16px ;
	background    : #FFFFFF ;
	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;

	flex-grow : 1 ;

	animation : mymove 1s ;
	display   : none ;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	overflow-y    : auto ;
}

#historyRightContainer #historyRightContainerHeader{
	height : 55px ;
	width  : calc(100% - 32px) ;
}


#historyRightContainer #historyRightSearchContainer{
	width  : calc(100%) ;
}

#historyInput{
	margin-left : 16px ;
	flex-grow : 1 ;
}





/** recent orders containers **/
#historyRecentInvoicesContainer .posInvoiceContainer{

	margin        : 8px 0px 8px 0 ;
	padding       : 16px    ;
	border        : 2px solid #cccccc ;
	border-radius : 16px    ;
	
	cursor        : pointer ;
}

#historyRecentInvoicesContainer .posInvoiceContainer:hover{
	background : #f5f5f5 ;
}

#historyRecentInvoicesContainer .posInvoiceContainer .l1{
	width : 100% ;
}

#historyRecentInvoicesContainer .posInvoiceContainer div.posName{
	flex-grow  : 1     ;
}

#historyRecentInvoicesContainer .posInvoiceContainer .l2{
	width       : 100% ;
	margin-top  : 6px  ;
}

#historyRecentInvoicesContainer .posInvoiceContainer .l2 .customer{

	flex-grow : 1 ;

}
#historyRecentInvoicesContainer .posInvoiceContainer .l2 .customerLogo{
	width  : 16px ;
	height : 16px ;

	margin-right : 6px ;
}

#historyRecentInvoicesContainer .posInvoiceContainer .l2 .customerName{

}

