


#historyLeftContainer{

	width     : 100% ;
	height    : 100% ;
	padding   : 4px 16px 4px 16px ;
	background    : #FFFFFF ;
	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;

	animation : mymove 1s ;
	display   : none ;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	overflow-y    : auto ;
}

#historyLeftContainer #historyLeftContainerHeader{
	height : 55px ;
	width  : calc(100% - 32px);	
}


#historyRightContainer{

	width     : 100% ;
	padding   : 4px 16px 4px 16px ;
	background    : #FFFFFF ;
	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;

	flex-grow : 1 ;

	animation : mymove 1s ;
	display   : none ;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	overflow-y    : auto ;
}

#historyRightContainer #historyRightContainerHeader{
	height : 55px ;
	width  : calc(100% - 32px);
}


