.container-xl, .container-lg, .container-md, .container-sm, .container{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 15%;
        max-width: 100%;
    }
}