/** paymentMethodCart **/
#LeftSection #paymentMethodCart{
        width     : 100% ;
        height    : 100% ;
        padding   : 0px 16px 16px 16px  ;
        animation : mymove 1s ;
        display   : none ;
        background    : #FFFFFF ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        overflow-y    : auto ;
        border        : 4px solid #a0a0a0 ;
        border-radius : 16px;
}


#LeftSection #paymentMethodCart #paymentMethodCartHeader {
        width  : 100% ;
        height : 45px ;
}
#LeftSection #paymentMethodCart #paymentMethodCartHeader img{
        width  : 26px ;
        height : 26px ;

        cursor : pointer ;
}


#LeftSection #paymentMethodCart #paymentMethodContent{
        width     : 100% ;
        flex-grow : 1    ;
}

#LeftSection #paymentMethodCart #paymentMethodContent #paymentContentTopSection{
        width  : 100% ;
        margin : 0px 0px 16px 0px ;
}


.paymentMethodBox{
        height  : 100px ;
        padding : 12px  ;
        margin  : 6px 16px ;

	flex-grow : 1 ;

        border : 2px solid #eeeeee;
        border-radius : 12px ;
}
.paymentMethodBox .title{
        padding     : 0px 0px 16px 0px ;

        color       : #777777 ;
        font-size   : 16px    ;
        font-weight : 400     ;
	
}
.paymentMethodBox .title.selected{
        color       : #9B5788 ;
        font-size   : 18px    ;
	font-weight : 600     ; 
	
}


.paymentMethodBox:hover{
        border : 3px solid #cccccc;	
}

.paymentMethodBox.selected{
        border : 3px solid #9B5788;	
}


#LeftSection #paymentMethodCart #paymentMethodContent #paymentContentBottomSection{
        width : 100% ;
}





#LeftSection #paymentMethodCart #paymentDetailsContainer{
        width      : 80%      ;
        height     : 150px    ;
        background : #f0f0f0  ;
        margin     : 16px 0px ;
        border-radius : 12px  ;

        overflow   : hidden   ;
}

#LeftSection #paymentMethodCart #paymentDetailsContainer>div{
        width        : 33.33%   ;
        height       : 100%     ;
}

#LeftSection #paymentMethodCart #paymentDetailsContainer div div{
        width        : 100%     ;
        height       : 50%      ;
}

#LeftSection #paymentMethodCart #paymentDetailsContainer div div:first-child{
        width        : 100%     ;
        height       : 50%      ;

        font-weight  : 600      ;
        font-size    : 16px     ;
}
#LeftSection #paymentMethodCart #paymentDetailsContainer div div:nth-child(2){
        width        : 100%     ;
        height       : 50%      ;

        font-weight  : 500      ;
        font-size    : 25px     ;

}

#LeftSection #paymentMethodCart #paymentDetailsContainer hr{
        width        : 2px      ;
        height       : 70%      ;
        background   : #888888  ;
}


#LeftSection #paymentMethodCart #paymentMethodCartFooter{
        width : 100% ;
}


#LeftSection #paymentMethodCart #paymentMethodCartFooter #completeOrderBtn{
        width  : 80%  ;
        height : 55px ;
        margin : 32px 0px   ;
        font-size  : larger ;
        font-weight: 600;

}
