#LeftSection #SelectorBox{
        width       : 100%    ;
        height      : 100%    ;

        animation     : mymove 1s  ;
        display       : flex ;
        overflow-y    : auto ;
	border        : 4px solid #a0a0a0 ;
	border-radius : 26px;
	background    : #ffffff;
}




/*header*/
#LeftSection #SelectorBox .header{
        height         : 45px          ;
	margin-top      : 10px          ;
        padding        : 0px 16px      ;
        justify-content: space-between ;
}

#LeftSection #SelectorBox .header #ItemInput{
        margin : 0px 16px 0px 0px;
        width  : 350px;
}

#LeftSection #SelectorBox .header #ItemGroupInput{
        width  : 150px;
}

/*item container*/
#LeftSection #SelectorBox #itemsContainer {
        padding    : 16px ;
        border-radius : 0px 0px 16px 16px ;

        flex          : 1      ;
}


#LeftSection #SelectorBox #itemsContainer .itemBox {
        height     : 185px ;
        width      : 120px ;
        margin     : 3px ;
        position   : relative ;

        cursor: pointer;
        background : #FFFFFF ;
        border     : 1px solid #e0e0e0;
        border-radius : 6px;
        overflow : hidden ;
}



#LeftSection #SelectorBox #itemsContainer .itemBox:hover {
        border     : 3px solid #9B5788 ;
}

#LeftSection #SelectorBox #itemsContainer .itemBox .itemImage{
        width  : 100%;
        height : 120px  ;
        margin : 0px 0px 5px 0px ;

        object-fit : cover ;

        background : #f0f0f0 ;
        border        : none ;
        outline       : none ;
}
#LeftSection #SelectorBox #itemsContainer .itemBox .itemTitle{
        padding : 0px 0px 0px 5px ;
        overflow     : hidden  ;

}

#LeftSection #SelectorBox #itemsContainer .itemBox .itemPrice{
        padding : 0px 4px ;
        background : #9B5788  ;
        color      : white    ;

        font-size  : smaller  ;

        position   : absolute ;
        top        : 0px      ;
        right      : 0px      ;

        border-radius : 0px 0px 0px 6px ;
}
