#LeftSection #settingsLeftContainer{
        width       : 100%    ;
        height      : 100%    ;
        background  : #ffffff !important ;

        animation     : mymove 1s  ;
        box-shadow    : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display       : flex ;
        overflow-y    : auto ;

        border        : 2px solid #c0c0c0 ;
        border-radius : 16px;
}


#RightSection #settingsRightContainer{
        width       : 100%    ;
        height      : 100%    ;
        background  : #ffffff !important ;

        animation     : mymove 1s  ;
        box-shadow    : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display       : flex ;
        overflow-y    : auto ;

        border        : 2px solid #c0c0c0 ;
        border-radius : 16px;
}
